html, body, #simon, #game, #game-board {
    height: 90%!important;
    font-family: sans-serif;
}

p, h1, h2 {
    text-align: center;
    margin: 0!important;
    padding: 0!important;
}

#game-board {
    margin-top: 5%;
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 40%;
    grid-template-rows: 40% 40%;
    gap: 6% 2%;
}

#start-button-div, #start-button {
    height:50px;
    width:150px;
    margin: -50px -75px;
    position:relative;
    top:50%;
    left:50%;
}

#rouge {
    border: 4px solid red;
}

#rouge.highlighted {
    background-color: red;
}

#jaune {
    border: 4px solid yellow;
}

#jaune.highlighted {
    background-color: yellow;
}

#bleu {
    border: 4px solid deepskyblue;
}

#bleu.highlighted {
    background-color: deepskyblue;
}

#vert {
    border: 4px solid limegreen;
}

#vert.highlighted {
    background-color: limegreen;
}
