<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>TP Simon</title>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="simon">
            <start-button v-if="!gameIsInProgress" v-on:start-game="start"></start-button>

            <div id="game" v-if="gameIsInProgress">
                <level-info v-bind:level-count="levelCount"></level-info>
                <score-counter v-bind:high-score="highScore"></score-counter>

                <div id="game-board">
                    <game-button
                            v-for="color in colors"
                            v-bind:color="color"
                            v-on:push="push(color.id)"
                            v-on:release="release(color.id)"
                    ></game-button>
                </div>

                <game-message v-bind:game-message="gameMessage"></game-message>

            </div>
        </div>

        <script src="js/components/score.component.js"></script>
        <script src="js/components/startButton.component.js"></script>
        <script src="js/components/gameButton.component.js"></script>
        <script src="js/components/gameMessage.component.js"></script>
        <script src="js/components/levelInfo.component.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
